ul{
    padding: 0px 0px 0px 0px;
    width: 174px;
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    width: 50px;
    height: 20px;
    background: grey
}
.class0{
    background-color: grey;
}
.class1{
    background-color: red;
}
.class2{
    background-color: yellow;
}
.class3{
    background-color: green;
}