ul{
    padding: 0px 0px 0px 0px;
    width: 174px;
    display: flex;
    justify-content: space-between;
}
li{
    list-style: none;
    width: 50px;
    height: 20px;
    border: grey solid 2px;
}
.class0{
    border: grey solid 2px;
}
.class1{
    border: red solid 2px;
}
.class2{
    border: yellow solid 2px;
}
.class3{
    border: green solid 2px;
}