div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 170px;
}
span{
    width: 50px;
    height: 20px;
    border: solid 1px black;
}
.class0{
    border: grey solid 2px;
}
.class1{
    border: red solid 2px;
}
.class2{
    border: yellow solid 2px;
}
.class3{
    border: green solid 2px;
}